.sub-header {
    width: 100%;
    padding: 20px;
    background-color: #ff9485;
    display: flex;
    justify-content: space-between;
}
.campaigns-container {
    margin: 20px;
    overflow: hidden;
}
.right > * {
    margin: 0px 10px;
}
.right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}