.header{
    background: #ff6852;
    width: 100vw;
    height: 70px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.header img {
    height: 100%;
    width: auto;
}

.container {
    height: 100%;
    padding-top: 0px;
    overflow:auto;
}