.header{
    background: cadetblue;
    color: darkgoldenrod;
    width: 100%;
    min-height: 70px;
    border-bottom: #282c34;
    text-align: center;
}

.header img {
    height: 70px;
    width: 300px;
    float: contour;
}